div.main {
    background: yellow url("../Logo-Hello.png") center;
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    background-repeat: repeat-x;
}
div.header {
    background: purple;
    opacity: 0,8;
    top: 0  ; 
    left: 0; 
    min-width: 100%;
    min-height: 10%;
    text-align: center;
    color:white;
}
div.textButton {
    background: white;
    width: 800px;
    margin: 300px auto auto auto;
    opacity: 0.8;
    text-align: center;

}
h1.greeting {
    font-family: sans-serif;
    font-style: italic;
    color:rebeccapurple;
}
div.info{
    font-family: sans-serif;
    font-style: italic;
    color:rebeccapurple;
}
button.button {
    background: rebeccapurple;
    color:seashell;
    border-radius: 70%;
    width: 100px;
    height: 40px;

}
div.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
    text-align: center;
}
h4.authors {
    font-family: monospace;
}